<head>
    <title>Chatter</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Dosis:600' rel='stylesheet' type='text/css'>
    <!--    <script src="emojify.js"></script>-->
</head>

<body>
    {{> header}} {{> message}} {{> form}}
</body>

<template name="header">
    <div class="chip">{{> loginButtons}}</div>
    <header>
        <h1>Chatter</h1>
    </header>
</template>

<template name="form">
    <div class="container">
        <div class="row">
            <form class="col s12 chat-form">
                <div class="row">
                    <input placeholder="Message Someone" />
                    <button class="waves-effect waves-light btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</template>

<template name="message">
    <div class="container">
        <div class="row">
            <div class="col s12 m5">
                {{#if currentUser}} {{#each messageList}}
                <div class="card-panel teal">
                    <span class="white-text">
                        {{formatDate timestamp}} ~ {{username}}
                        <br>
                        <span>{{this.name}}</span>
                    <br>
                    </span>
                    <a class="delete-text"><i class="material-icons">delete</i></a>
                </div>
                {{/each}} {{else}}
                <p>Log in to see messages</p>
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="chatRoom">
    <h1>Chat Room: {{chatroomName}}</h1>
</template>
