/* CSS declarations go here */

h1 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: #ff9800;
}
a {
    font-family: 'Dosis', sans-serif;
}
.center-button {
    text-align: center;
    padding-bottom: 10px;
}
.delete-text {
    color: #ffc107;
}
i {
    cursor: pointer;
}
.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -0.25em;
}
